@charset "UTF-8"
/**
 * 颜色
 * @type {[type]}
 */
/*主题色*/
$baseColor: #007FFF
/*橙色*/
$orangeColor: #FAB410
/*蓝色*/
$blueColor: #1B81D3
/*天蓝色*/
$skyBlueColor: #32B4FF
/*绿色*/
$greenColor: #19A875
/*浅红色*/
$lightRedColor: #FC6C6C
/*浅紫色*/
$lightPurpleColor: #A580F2
/*字体浅灰色*/
$lightGreyColor: #878787
/*背景灰色*/
$backGreyColor: #c8c7cc
/*字体黑色*/
$blackColor: #333
/*白色*/
$whiteColor: #fff
/*粉红色*/
$pink: #FFC0CB 
/* 微信黑 */
$wechatColor: #373A41